.ChessBoard{
    width: 600px;
    height: 450px;
    margin-top: 20px;
    position: absolute;
    margin-left: 50%;
    left: -300px;

}
.row{
    width: 100%;
    height: 60px;
}
.column{
    height: 60px;
    width: 73px;
    border: 1px solid black;
    display: inline-block;
}
.brown-column{
    background-color: #b97a57;
}
.white-column{
    background-color: #fff;
}
.knight-container{
    position: absolute;
    top: 0;
    z-index: 1;
    left: -50px;
}
.red-marker{
    background-color: red;
    display: inline-block;
}